<!DOCTYPE html>
<html>
<head>
    <!-- Include any meta tags, title, and linked CSS files here -->
</head>
<body style="background-color: #a4c3d3;">
    <nav class="navbar navbar-light">
        <ul class="nav">
            <img class="navbar-brand" src="assets/2023-09-04_11-30.png" alt="img">
            <div navbar-nav ml-auto>
                <a href="#" class="nav-link active d-inline-block"><b>Sign up</b></a>
                <span class="navbar-text" style="margin-left: 70px; margin-right: 70px;">|</span>
                <a href="#" class="nav-link active border-right pr-2 d-inline-block" style="margin-right: 70px;"><b>Login</b></a>
            </div>
        </ul>
    </nav>
    <!-- Add the rest of your HTML content here -->
</body>
</html>
