<!DOCTYPE html>
<html>
<head>
    <!-- Include your CSS and font links here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
</head>
<body style="background-color: #a4c3d3;">
    <app-navbar></app-navbar>
    <div class="main-home-page-text">
        <h1>Reach your goals <b>faster</b></h1>
        <h1>with HealthApp</h1>
        <p>The all in one premium, food, exercise, progress tracking platform.</p>
    </div>
    <button class="btn btn-danger btn-lg" style="position: relative;left:190px; bottom:10px;">Get started today</button>
    <img 
        style="position: relative; left: 800px; bottom: 100px;" 
        class="home-phone-image" 
        src="assets/hero-phone-small.webp" 
        alt="phone-app">
</body>
</html>
